<div class="container p-4">
    <div class="row">
        <div class="col w-100">
            <label for="exampleDataList" class="form-label"><strong><i class="fas fa-search"></i> Search for products </strong></label>
            <input class="form-control" name="filterProduct" [(ngModel)]="filterProduct" placeholder="Type to search...">
        </div>
    </div>
</div> 
<hr>
<h1 class="text-center w-100" *ngIf="products.length == 0"> No se encuentran productos <hr></h1>
<div class="col-md-4 p-2" *ngFor="let product of products | countryName:filterProduct">
    <div class="card text-center shadow bg-white p-4 rounded" >
        <div class="card-header bg-dark text-white align-items-center" >
            <h3>{{product.name}} 
                <ng-container *ngIf="user!=null">
                    <button class="btn btn-group btn-warning" (click)="deleteItem(product)"><i class="fas fa-trash"></i></button>
                    <button class="btn btn-group btn-success" (click)="editItem(product)"><i class="fas fa-edit"></i></button>  
                </ng-container>
            </h3> 
        </div>
        <!-- --> <img src="{{product.image_url != null ? product.image_url : noImageURL}}" (click)="details(product)" class="card-img-top border-0">  
        <div class="card-body"> 
            <hr>
            <strong>Precio: USD {{product.price}}</strong>
            <hr>
            <p >{{getDescription(product.description)}}</p>
            <hr>
            <button class="btn-info btn-lg btn-block" (click)="details(product)"><i class="fas fa-info-circle"></i> Ver detalles</button>
        </div>
    </div>
</div>
