<div class="container p-4">
    <h1 class="text-center">Messages sent to your page</h1> <hr>
</div>
<div class="container p-4">
    <div class="row">
        <label for="exampleDataList" class="form-label">Search for message</label>
            <input class="form-control" list="datalistOptions" name="filterName" [(ngModel)]="filterName" placeholder="Buscar... ">
            <!--
            <datalist id="datalistOptions">
                <option *ngFor="let country of countries" value="{{country.name}}">
            </datalist>
            -->
    </div>
</div>
<div class="container" >
    <table class="table table-striped table-hover shadow-lg table-responsive" >
        <thead class="table-dark">
            <tr>
                <th scope="row">Id</th>
                <td scope="col">Email</td>
                <td scope="col">Name</td>
                <td scope="col">Last name</td>
                <td scope="col">Address</td>
                <td scope="col">Password</td>
                <td scope="col">Message</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts | async ">   
                <td>{{contact.id}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.name != undefined ? contact.name : 'No data provided'}}</td>
                <td>{{contact.last_name != undefined ? contact.last_name : 'No data provided'}}</td>
                <td>{{contact.address}}</td>
                <td>{{contact.password}}</td>
                <td>{{contact.message}}</td>
            </tr>
        </tbody>
    </table>
</div>