<style>
    .image-product {
    transition: transform .2s;
  }
  
  .image-product:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  } 
  </style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="{{itemValue != null ? itemValue.image_url : noImageURL}}" class="image-product shadow-lg rounded w-100" alt="">
        </div>
        <div class="col-md-6 text-center">
            <div class="card border-0 w-100" style="margin: 0 0 0 0;">
                <div class="card-header text-white border-0 text-center rounded bg-dark">
                    <h2>{{itemValue != null ? itemValue.name: 'No data' }}</h2>
                </div>
                <div class="card-body border-0 rounded" style="background-color:transparent;">
                    <p>{{itemValue != null ? itemValue.description : 'No data'}}</p>
                    <p class="border-bottom"><strong>Precio:</strong>{{itemValue != null ? itemValue.price : 'No data'}}</p>
                    <label for="exampleDataList" class="form-label">Seleccione su pais de origen</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                    <datalist id="datalistOptions">
                    <option value="Guatemala">
                    <option value="El salvador">
                    <option value="Honduras">
                    <option value="Nicaragua">
                    <option value="Otro">
                    </datalist>
                    <hr>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>