<form novalidate class="row g-3" (ngSubmit)="onSaveData()" [formGroup]="contactForm">
    <div class="col-md-6">
      <label class="form-label"><i class="fas fa-envelope"></i> Correo electronico <small style="color:red">*</small></label>
      <input type="email" class="form-control shadow-lg rounded-pill" id="email" placeholder="Email" formControlName="email" [class]="validField('email')" autofocus>
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('email').errors?.required">
          <strong>Por favor, introduzca un correo electronico.</strong>
        </span>
        <span *ngIf="contactForm.get('email').errors?.pattern">
          <strong>Correo electronico no valido.</strong>
        </span>
      </div>
      <hr>
    </div>
    <div class="col-md-6">
      <label class="form-label"><i class="fas fa-unlock-alt"></i> Contrasenia <small style="color:red">*</small></label>
      <input type="password" class="form-control shadow-lg rounded-pill" id="password" placeholder="Password" formControlName="password" [class]="validField('password')">
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('password').errors?.required">
          <strong> Please enter a password.</strong>
        </span>
      </div>
      <hr>
    </div>
    <div class="col-md-12">
      <label class="form-label"><i class="fas fa-map-marker-alt"></i> Direccion <small style="color:red">*</small></label>
      <input type="text" class="form-control shadow-lg rounded-pill" id="address" placeholder="Address" formControlName="address" [class]="validField('address')">
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('address').errors?.required">
          <strong>Por favor, introduzca una direccion.</strong>
        </span>
      </div>
      <hr>
    </div>
    <div class="col-md-12">
      <label class="form-label"><i class="far fa-comment-dots"></i> Mensaje <small style="color:red">*</small></label>
      <textarea id="message" cols="30" rows="5" class="form-control shadow-lg rounded" placeholder="Write message..." formControlName="message" [class]="validField('message')">
      </textarea>
      <div class="invalid-feedback">
        <span *ngIf="contactForm.get('message').errors?.required">
          <strong>Por favor, introduzca un mensaje</strong>
        </span>
        <span *ngIf="contactForm.get('message').errors?.maxlength">
          <strong> Su mensaje no puede ser mayor de 150 caracteres. </strong>
        </span>
        <span *ngIf="contactForm.get('message').errors?.minlength">
          <strong> Su mensaje no puede ser menor de 5 caracteres. </strong>
        </span>
      </div>
    </div>
    <div class="col-md-12">
        <hr>
      <button type="submit" class="btn btn-success btn-lg btn-block shadow-lg rounded-pill" [ngClass]="isValidData()">Mandar mensaje <i class="fas fa-check" *ngIf="contactForm.valid"></i>
         <i class="fas fa-exclamation-circle" *ngIf="!contactForm.valid"></i> 
      </button>
    </div>
  </form> 
