<div class="container p-4" style="background-color:transparent;">
  <app-navigation></app-navigation>
  <button class="btn btn-outline btn-lg rounded-circle shadow-lg" style="position: fixed; right: 80px; bottom: 80px; font-size: 25px; background-color: white;color: black;">
    <i class="fab fa-instagram"></i>
  </button>
  <button class="btn btn-outline btn-lg rounded-circle shadow-lg" style="position: fixed; right: 80px; bottom: 160px; font-size: 25px; background-color: white;color: black;">
    <i class="fab fa-youtube"></i>
  </button>
  <button class="btn btn-outline btn-lg rounded-circle shadow-lg" style="position: fixed; right: 80px; bottom: 240px; font-size: 25px; background-color: white;color: black;">
    <i class="fab fa-facebook"></i>
  </button>
  <router-outlet></router-outlet>
</div>
<footer>
  <app-footer-page></app-footer-page>
</footer>
