
<div class="container">
    <div class="row">
        <div class="card mb-3 border-dark w-100" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/no-bg-logo.png" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Conozca Lithovit®</h5>
                  <p class="card-text">El primer fertilizante foliar del mundo capaz de </p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-4 ">
    <div class="col-md-4 offset-md-4">
        <div class="card border-0">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="text-center">
                            <label class="text-dark"><i class="fas fa-envelope"></i> Email</label>
                        </div>
                        <input class="form-control rounded" type="email" name="" id="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <label class="text-dark"><i class="fas fa-unlock"></i> Password</label>
                        </div>
                        <input class="form-control rounded" type="password" placeholder="Password" name="" id="password">
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-md btn-primary rounded">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>